# Day 1 - Variables, Input, Typecasting, Arithmetic and Comparison Operations

## Python Variables, Input, and Typecasting

### üîπ Variables in Python
- In Python, variables are **declared directly**.
- **No data type** is required ‚Äî Python decides it automatically.
- **No semicolon (;)** is needed at the end of a line.

Examples:

In [22]:
a_2 = 249102840237587
a = "012555"

d = 3.25565
print(f"{d:.9f}")


print(a)

3.255650000
012555

In [11]:
a = 10.236
b = "Nabil"

# ‚ùå We cannot use 0 at the beginning of a number in Python
# For example: num = 01881196146  ‚ùå (This will cause an error)
# ‚úÖ Use it as a string if it starts with 0
num = "01881196146"

# print(f"{a:.2f}")

print(b, a)

Nabil 10.236

### üîπ Taking Input
- The `input()` function is used to take data from the user.
- Python automatically takes all input as a **string**.

Examples:

In [31]:
a=int(input())
print(a)
print(type(a))

20
<class 'int'>

In [32]:
print(10)

10

In [2]:
a = input()                         # Example: 10.236
b = input("Write name: ")           # Example: Nabil
print("Your first input is:", a)
print("Your name is:", b)

Your first input is: 20
Your name is: nabil

#### ‚ö†Ô∏è Very Important Note
> Python takes all inputs as **strings** ‚Äî even if you type numbers!

that means, amra ja kisui input nei na keno eita string hisbae joma hoy,, er por oita ke type casting kore int ba othe format e nite hy

### üîπ Typecasting
- Typecasting means **changing one data type to another**.
- Example: converting `string` ‚Üí `int`, or `float` ‚Üí `int`.

Examples:

Before typecasting

In [3]:
age = input("Enter age: ")                # Example: 10
weight = input("Enter weight: ")          # Example: 2.563

print(type(age))  # <class 'str'>
print(type(weight))  # <class 'str'>

<class 'str'>
<class 'str'>

After typecasting

In [ ]:
age = int(input("Enter age: "))  # Example: 10
weight = input("Enter weight: ")  # Example: 2.563

age2 = int(age)                 # typecasting here
weight2 = float(weight)         # typecasting here

print(type(age2))  # <class 'str'>
print(type(weight2))  # <class 'str'>

<class 'int'>
<class 'float'>

In [ ]:
age = int(input("Enter age: "))          # Input nite somoy type casting
weight = float(input("Enter weight: "))  # Input nite somoy type casting

new_weight = int(weight)        # eikhane type casting kore "weight" er float value theke integer kora hoyeche



print(type(age))          # <class 'int'>
print(type(weight))       # <class 'float'>
print(type(new_weight))   # <class 'int'>

<class 'int'>
<class 'float'>
<class 'int'>

In [37]:
s = float(input()) # 2.366
print(s)
s = it() # 2
s= float(s)

print(s)

2.366

NameError: name 'it' is not defined

### ‚úÖ Summary
- Variables are declared directly.
- No data type or semicolon needed.
- All input values are taken as strings.
- Typecasting changes one data type to another.

Now you understand the **basics of Python variables, input, and typecasting!** üöÄ

## Python Arithmetic and Comparison Operations

### üîπ Arithmetic Operations
- Python supports common math operations like addition, subtraction, multiplication, etc.
- Each operation uses a **symbol (operator)**.

Examples:

In [ ]:
# Python Arithmetic Operations
a = 15
b = 2

print(a + b)   # + Addition                   ‚Üí 17
print(a - b)   # - Subtraction                ‚Üí 13
print(a * b)   # * Multiplication             ‚Üí 30
print(a / b)   # / Division                   ‚Üí 7.5  (float value)
print(a // b)  # // Floor division            ‚Üí 7    (integer value)
print(a % b)   # % Modulus                    ‚Üí 1    (remainder)
print(2 ** 2)  # ** Exponentiation            ‚Üí 8    (power 2¬≥)

17
13
30
7.5
7
1
8

### üîπ Boolean Values
- A **Boolean** value can only be `True` or `False`.
- These are used in conditions and comparisons.

### üîπ Comparison Operators
- Used to compare two values.
- The result is always either `True` or `False`.

Examples:

In [ ]:
a = 20
A = 30

True

In [7]:
# Python Comparison Operators
print(10 == 5)    # == Equal to                   ‚Üí False
print(10 != 5)    # != Not equal to               ‚Üí True
print(10 > 5)     # > Greater than                ‚Üí True
print(10 < 5)     # < Less than                   ‚Üí False
print(10 >= 10)   # >= Greater than or equal to   ‚Üí True
print(10 <= 10)   # <= Less than or equal to      ‚Üí True

False
True
True
False
True
True

### ‚úÖ Summary
- Arithmetic operators perform mathematical operations.
- Comparison operators check relationships between values.
- Boolean values are always `True` or `False`.

Now you know how Python handles **math and comparison operations!** üß†