# Conditional Statements, Logical Operators, Range, and For Loop in Python

## ðŸ”¹ Conditional Statements (if, elif, else)

#### These are used when we want to make decisions in our program.
#### Conditions always work with True or False (Boolean values).

### Problem 1

In [1]:
rain = False
if rain == True:
    print("Ami school e jabo na")      # If it rains, I wonâ€™t go to school.
else:
    print("Ami school e jabo")         # Otherwise, I will go to school.

Ami school e jabo

### Problem 2

In [2]:
age = 17
if age >= 18:
    print("Tumi license paba")  # You can get a driving license.
else:
    print("Tumi 18-")  # You are under 18.

Tumi 18-

## ðŸ”¹ Logical Operators

### Logical operators also work with True/False values.
### They help combine or modify conditions.

##### and â†’ Both conditions must be True to get True.
- True and True   â†’ True 
- True and False  â†’ False 
- False and True  â†’ False
- False and False â†’ False

##### or â†’ If any one condition is True, result is True.
- True or True    â†’ True
- True or False   â†’ True
- False or True   â†’ True
- False or False  â†’ False

##### not â†’ Reverses the Boolean value.
- not True  â†’ False
- not False â†’ True

### Problem 3

In [ ]:
marks = 85
if marks >= 90 and marks <= 100:
    print("Tumi duita candy box paba")      # Two candy boxes
elif marks >= 80 and marks <= 89:
    print("Tumi ekta candy box paba")       # One candy box
else:
    print("Tumi kichui paba na")            # Nothing

Tumi ekta candy box paba

## ðŸ”¹ range() Function

#### The range() function is used to generate a sequence of numbers.
- It is often used in loops.
- It has 3 parts â†’ range(start, end, step)

##### Simple example

In [ ]:
a = list(range(10))
print(a)                    # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Ascending range

In [ ]:
b = list(range(4, 10))
print(b)                    # [4, 5, 6, 7, 8, 9]

[4, 5, 6, 7, 8, 9]

In [ ]:
c = list(range(0, 10, 2))
print(c)                    # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

##### Descending range

In [ ]:
d = list(range(10, 0, -1))
print(d)                    # [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## ðŸ”¹ Loops

#### Loops help us repeat a task multiple times.

- For Loop
- While Loop
- Nested Loop (loop inside another loop)

##### ðŸ”¸ Normal for loop

In [8]:
for i in range(10):
    print(i, "Hello Boys")

0 Hello Boys
1 Hello Boys
2 Hello Boys
3 Hello Boys
4 Hello Boys
5 Hello Boys
6 Hello Boys
7 Hello Boys
8 Hello Boys
9 Hello Boys

##### ðŸ”¸ Using string in for loop

In [9]:
s = "Hi, I am Nabil"
for letter in s:
    print(letter)

H
i
,

I

a
m

N
a
b
i
l

##### ðŸ”¸ Using list in for loop

List er detail pore janbo,,just dekhe rakhi

In [11]:
l = ["alu", "mach", 98, "10 ta komola", 2.33, "lebu", 98969.23654589, 
     55, -120, "bazar krte hbe", 10,]
for item in l:
    print(item)

alu
mach
98
10 ta komola
2.33
lebu
98969.23654589
55
-120
bazar krte hbe
10

##### ðŸ”¸ Filter result (show only numbers >= 30)

In [12]:
l2 = [25, 36, 21, 10, 35, 1, 2, 98, 5, 27, 21, 44, 11, 9, 17]
for i in l2:
    if i >= 30:
        print(i)

36
35
98
44

##### ðŸ”¸ Find numbers divisible by both 3 and 5

In [13]:
for i in range(100):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

##### ðŸ”¸ Find sum of numbers

In [14]:
sum = 0
for i in range(10):  # range(10) â†’ 0 to 9
    sum = sum + i
print(sum)  # Output: 45

45